In [1]:
import pandas as pd

In [4]:
ais_path = "/mnt/hdd/eric/.tmp_ipy/00.Data/AIS-KARI/202212110600_dynamic.csv"
ais_df = pd.read_csv(ais_path)

In [6]:
ais_df

,mmsi_,time,lon_,lat_,heading_,turn_,speed_
0,440120640,2022-12-11 06:00:00,129.026133,35.086350,511,-128.0,0.0
1,440170520,2022-12-11 06:00:00,129.028272,35.095503,511,-128.0,0.0
2,440010020,2022-12-11 06:00:00,129.068232,35.096243,50,-128.0,0.0
3,440103440,2022-12-11 06:00:00,129.050427,35.121397,511,-128.0,0.0
4,440002690,2022-12-11 06:00:00,129.050502,35.119713,31,7.0,0.0
...,...,...,...,...,...,...,...
38947,440101600,2022-12-11 06:59:59,129.081690,35.083330,511,-128.0,0.0
38948,440056660,2022-12-11 06:59:59,129.038125,35.094142,99,0.0,0.0
38949,440135400,2022-12-11 06:59:59,129.235017,35.079133,215,-128.0,13.2
38950,440061780,2022-12-11 06:59:59,129.050713,35.121015,511,-128.0,0.1
38951,440112730,2022-12-11 06:59:59,129.058957,35.106855,272,0.0,3.2

In [ ]:
ais_df.